.weather-one{
    width: 300px;
    border-radius: 6px;
    box-shadow: 10px -2px 10px 10px rgba(0, 0, 0, 0.2);
    color: aliceblue;
    background-color: rgb(40, 29, 29);
    margin: 0 auto;
    /* auto is used to center the div */
    padding: 0 20px 20px 20px;
     }
     .upper,
     .bottom{
        display: flex;
        justify-content: space-between;
        padding: 20px;
        align-items: center;
     }
     .city{
        font-size: 30px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: 2px;
     }
     .weather-description{
        font-size: 20px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 1px;
     }

     .weather-icon{
       
        transform: scale(1);
        transition: transform 2s ease-in-out;
        /* transition: opacity 0.3s ease-in-out;  */

    &:hover{
        transform: scale(1.5);
        transform: rotate(180deg);
        /* transform: rotate(90deg); */
        /* transition: opacity 0.7s; */
     }}
     
    .temp{
      font-weight: 600;
      font-size: 70px;
      width: auto;
      letter-spacing:-5px ;
      margin: 10px 0;
    }
    .parameter-row  {
      display: flex;
      justify-content: space-between;

    }    
    .details{
      width: auto;
      padding-left: 20px;
    }

    
